[run]
source =
    ssh-decoy
    cti
    dashboard
    inference
    http-decoy
    platform/operator

[report]
omit =
    tests/*
    */__pycache__/*
    */migrations/*
    setup.py

show_missing = true
skip_empty = true
fail_under = 60
